<div class="list-group w-auto shadow-sm mt-2 mt-md-0">
    <li class="list-group-item  d-flex py-2" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0 mt-1"><i class="fa-solid fa-newspaper me-2"></i>Thông tin công việc</h6>
            </div>
            <div>
                <a href="{{ url_for('news')}}" class="text-decoration-none stretched-link">Xem tất cả<i
                        class="fa-solid fa-up-right-from-square ms-2"></i></a>
            </div>
        </div>
    </li>
    {% for post in value.posts %}
    <a href="{{ url_for('news', day_query=value.today)}}" class="list-group-item list-group-item-action d-flex  py-2" aria-current="true">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <p class="mb-0 fw-semibold">{{ post.title }}</p>
                <p class="text-muted mb-0">

                   {{ post.plain_text|truncate(150, True)}}</p>
            </div>
            <div class="d-flex flex-column align-items-end">
                <span class="text-muted">
                {{ post.username }}
                    
                </span>
            <small class="opacity-50 text-nowrap">{{ post.time_created }}</small>


            </div>
        </div>
    </a>
    {% endfor %}
</div>