{% extends 'base.html' %}
{% block header %}
<i class="fa-solid fa-book-medical me-2"></i>{% block title %}Hồ sơ bệnh nhân{% endblock %}
{% endblock %}
{% block content %}

<div class="row mt-3">
    <div class="col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6 class="card-title">Thông tin</h6>
                <hr>
                <p class="card-text">
                <div class="row g-0 mb-2">
                    <div class="col-5 fw-bolder">Họ và tên</div>
                    <div class="col-7">{{value.detail.0}} {% if value.detail.2 == 'G' %}<i
                            class="fa-solid fa-venus text-danger"></i>{% else %}<i
                            class="fa-solid fa-mars text-primary"></i>{% endif %}</div>
                </div>

                <div class="row g-0 mb-2">
                    <div class="col-5 fw-bolder">Ngày sinh</div>
                    <div class="col-7"><span id="bornDate"> {% if value.detail.1
                            %} {% set year_born = value.detail.1.strftime('%Y')|int %}
                            {{value.detail.1.strftime('%d-%m-%Y')}} {% endif %}</span></div>

                    <script>
                        const yearBorn = {{ year_born }};
                        const thisYear = new Date().getFullYear();
                        const age = thisYear - yearBorn;
                        const spanBorn = document.getElementById('bornDate');
                        spanBorn.append(`(${age} tuổi)`);
                    </script>

                </div>
                <div class="row g-0 mb-2">
                    <div class="col-4 fw-bolder">Địa chỉ</div>
                    <div class="col">{{value.detail.3}}</div>
                </div>
                <div class="row g-0 mb-2">
                    <div class="col-5 fw-bolder">Số điện thoại</div>
                    <div class="col-7"> <a href="tel:+84{{value.detail.4}}" class="text-decoration-none">{{value.detail.4}}</a> </div>
                </div>
                <hr class="my-2">
                <div class="row g-0 mb-2">
                    <div class="col-5 fw-bolder">ID Bệnh nhân</div>
                    <div class="col-7">{{value.detail.5}}</div>
                </div>

                <div class="row g-0 mb-2">
                    <div class="col-5 fw-bolder">Mã y tế</div>
                    <div class="col-7">{{value.detail.6}}</div>
                </div>
                <div class="row g-0 mb-2">
                    <div class="col-5 fw-bolder">Ngày tạo</div>
                    <div class="col-7">{% if value.detail.1 %}{{value.detail.7.strftime('%d-%m-%Y')}} {% endif %}</div>
                </div>
                <div class="row g-0 mb-2">
                    <div class="col-5 fw-bolder">Ngày cập nhập</div>
                    <div class="col-7">{% if value.detail.8 %}{{value.detail.8.strftime('%d-%m-%Y')}} {% endif %}</div>
                </div>
                </p>
            </div>
        </div>
        <div class="card shadow-sm mt-3">
            <div class="card-body">
                <h6 class="card-title">Thống kê</h6>
                <hr>
                <p class="card-text">
                <div class="row g-0 mb-2">
                    <div class="col-5 fw-bolder">Lượt khám bệnh</div>
                    <div class="col">{% if value.history_visited %} {{ value.history_visited|length}}{% else %} 0 {%
                        endif %}</div>
                </div>
                <div class="row g-0 mb-2">
                    <div class="col-5 fw-bolder">Lượt nhập viện</div>
                    <div class="col">{% if value.history_hospital %} {{ value.history_hospital|length}}{% else %} 0 {%
                        endif %}</div>
                </div>
                <div class="row g-0 mb-2">
                    <div class="col-5 fw-bolder">Tổng thanh toán</div>
                    <div class="col">{% if value.doanhthu %}{{ "{:,} đ".format(value.doanhthu) }} {% endif %}</div>
                </div>
                <div class="row g-0">
                    <div class="col-5 fw-bolder">Tự chi trả</div>
                    <div class="col">{% if value.thanhtoan %}{{ "{:,} đ".format(value.thanhtoan) }} {% endif %}</div>
                </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <ul class="nav nav-tabs mt-3 mt-md-0" id="myTab" role="tablist">
            <li class="nav-item " role="presentation">
                <button class="nav-link active " id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                    <h6>Ngoại trú</h6>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                    <h6>Nhập viện</h6>
                </button>
            </li>
        </ul>
        <div class="tab-content  border rounded shadow-sm scroll-desktop" id="myTabContent">
            <div class="tab-pane fade show active " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                tabindex="0">
                <div class="list-group list-group-flush">
                    {% if value.history_visited %}
                    {% for visited in value.history_visited %}
                    <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                        data-bs-target="#patientVisitedHistory"
                        data-department="{{visited.0}}"
                        data-doctor="{{visited.2}}"
                        data-time="{{visited.3}}"
                        data-chandoan="{{visited.1}}"
                        data-khambenhid="{{ visited.5}}"
                        data-ketqua="{{visited.4}}"
                        data-tiepnhanid="{{visited.6}}"
                        onclick="getVisitedHistory(
                            this.getAttribute('data-department'),
                            this.getAttribute('data-doctor'),
                            this.getAttribute('data-time'),
                            this.getAttribute('data-chandoan'),
                            this.getAttribute('data-khambenhid'),
                            this.getAttribute('data-ketqua'),
                            this.getAttribute('data-tiepnhanid')
                            );">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="">{{loop.index}}. {{visited.0}} </h6>
                                <p class="mb-1">{{visited.1}}</p>
                                <small class="text-muted my-1"><i
                                        class="fa-regular fa-clock me-1"></i>{{visited.3.strftime('%H:%M
                                    %d-%m-%Y')}}</small>

                            </div>
                            <div class="d-flex flex-column justify-content-start align-items-end ms-2">
                                {% if visited.4 == 'Chuyển tuyến' or visited.4 == 'Chuyển viện' %}
                                <span class="badge bg-danger m-0">{{ visited.4 }}</span>
                                {% elif visited.4 == 'Nhập viện'%}
                                <span class="badge text-bg-warning m-0">{{ visited.4 }}</span>
                                {% else %}
                                <span class="badge bg-success m-0">{{ visited.4 }}</span>
                                {% endif %}
                                <span class="badge text-bg-primary mt-1">BS.{{visited.2}}</span>
                                <span class="text-primary"><small>Xem chi tiết<i
                                            class="fa-solid fa-arrow-right ms-1"></i></small></span>
                            </div>
                        </div>
                    </a>

                        <!-- Modal -->
                        <div class="modal fade" id="patientVisitedHistory" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Lịch sử khám bệnh</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h6 id="departmentName"></h6>
                                    <div class="d-flex align-items-center">
                                        <small class="text-muted" id="timeVisitedModal"></small>
                                        <span class="badge bg-danger ms-2" id="ketquadanger"></span>
                                        <span class="badge text-bg-warning ms-2" id="ketquawarning"></span>
                                        <span class="badge bg-success ms-2" id="ketquasucess"></span>
                                        <span class="badge text-bg-primary ms-2" id="doctorNameModal"></span>
                                    </div>
                                    <hr class="my-2">
                                    <p><span class="fw-bold">Chẩn đoán: </span><span id="chanDoan"></span> </p>
                                    <hr class="my-2">
                                    <p><span class="fw-bold">Đơn thuốc: </span><span id="donthuoc"
                                            class="d-flex flex-column"></span> </p>
                                    <hr class="my-2">
                                    <p><span class="fw-bold">Chỉ định: </span><span id="chidinh"
                                        class="d-flex flex-column"></span> </p>
                                    <hr class="my-2">
                                    <p><span class="fw-bold">Kết quả cận lâm sàng: </span><span id="ketqua"
                                        class="d-flex flex-column"></span> </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary">In</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% endfor %}

                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <div class="list-group list-group-flush">
                    {% if value.history_hospital_list %}
                    {% for patient in value.history_hospital_list %}
                    <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#patientHospitalHistory{{loop.index}}">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="">{{loop.index}}. {{patient.row.TenPhongBan}} </h6>
                                <p class="mb-1">{{ patient.row.ChanDoanRaVien}}</p>
                                <small class="text-muted my-1"><i
                                        class="fa-regular fa-clock me-1"></i>{{patient.row.ThoiGianVaoVien.strftime('%d-%m-%Y')}} {% if
                                            patient.row.ThoiGianRaVien %}đến {{patient.row.ThoiGianRaVien.strftime('%d-%m-%Y')}} {% else %}(chưa ra viện){% endif
                                    %}</small>
                            </div>
                            <div class="d-flex flex-column justify-content-start align-items-end ms-2">
                                {% if patient.row.ravien == 'Chuyển tuyến' or patient.row.ravien == 'Chuyển viện' %}
                                <span class="badge bg-danger m-0">{{ visited.5 }}</span>
                                {% elif patient.row.ravien == 'Nhập viện'%}
                                <span class="badge text-bg-warning m-0">{{ patient.row.ravien }}</span>
                                {% else %}
                                <span class="badge bg-success m-0">{{ patient.row.ravien }}</span>
                                {% endif %}
                                <span class="badge text-bg-primary mt-1">BS.{{patient.row.TenNhanVien}}</span>
                                <span class="text-primary"><small>Xem chi tiết<i
                                            class="fa-solid fa-arrow-right ms-1"></i></small></span>
                            </div>
                        </div>
                    </a>

                    

                        <!-- Modal -->
                        <div class="modal fade" id="patientHospitalHistory{{loop.index}}" tabindex="-1" aria-labelledby="exampleModalLabel2"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel2">Lịch sử điều trị nội trú</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h6>{{patient.row.TenPhongBan}} - Số bệnh án: {{patient.row.SoBenhAn}}</h6>
                                    <div class="d-flex align-items-center">
                                        <small class="text-muted my-1"><i
                                            class="fa-regular fa-clock me-1"></i>{{patient.row.ThoiGianVaoVien.strftime('%d-%m-%Y')}} {% if
                                                patient.row.ThoiGianRaVien %}đến {{patient.row.ThoiGianRaVien.strftime('%d-%m-%Y')}} {% else %}(chưa ra viện){% endif
                                        %}</small>
                                        {% if patient.row.ravien == 'Chuyển tuyến' or patient.row.ravien == 'Chuyển viện' %}
                                        <span class="badge bg-danger mx-2">{{ visited.5 }}</span>
                                        {% elif patient.row.ravien == 'Nhập viện'%}
                                        <span class="badge text-bg-warning mx-2">{{ patient.row.ravien }}</span>
                                        {% else %}
                                        <span class="badge bg-success mx-2">{{ patient.row.ravien }}</span>
                                        {% endif %}
                                        <span class="badge text-bg-primary">BS.{{patient.row.TenNhanVien}}</span>
                                    </div>
                                    <hr class="my-2">
                   
                                    <p><span class="fw-bold">Chẩn đoán vào khoa: </span><span> {{patient.row.ChanDoanVaoKhoa}}</span> </p>
                                    <p><span class="fw-bold">Chẩn đoán ra khoa: </span><span class="badge bg-primary me-1">{{patient.row.ketqua}}</span><span>
                                        {{patient.row.ChanDoanRaVien}}
                                    </span> </p>
                                    <hr class="my-2">

                                    <p><span class="fw-bold">Khám nội trú </span><span id="khamnoitru"></span> </p>
                                    <hr class="my-2">
                                    <p><span class="fw-bold">Đơn thuốc: </span><span id="donthuoc2"
                                            class="d-flex flex-column"></span> </p>
                                    <hr class="my-2">
                                    <p><span class="fw-bold">Chỉ định: </span><span id="chidinh2"
                                        class="d-flex flex-column"></span> </p>
                                    <hr class="my-2">
                                    <p><span class="fw-bold">Kết quả cận lâm sàng: </span><span id="ketqua2"
                                        class="d-flex flex-column"></span> </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary">In</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% endfor %}


                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    const urlGenerator = '/patient/';
    const todayURL = "{{ url_for('patient_detail', mayte=value.mayte) }}";

</script>

<script>
    function updatePatientModal(data) {
        const donthuocElement = document.getElementById('donthuoc');
        donthuocElement.textContent = "";

        if (Object.keys(data).length) {
            for (const key of data) {
                const para = document.createElement("span");
                para.innerHTML = `<div class="d-flex justify-content-between"><span>${key['thuoc']} (${key['duongdung']})</span><span class="fw-bolder">${key['soluong']}</span></div>  `
                donthuocElement.appendChild(para)

            }
        }
        else {
            donthuocElement.textContent = "Không";
        }

    };
    function updatePatientModal2(data){
        const chidinhElement = document.getElementById('chidinh');
        let indexLoop = 0;

        chidinhElement.textContent = "";
        const ketquaElement = document.getElementById('ketqua');
        ketquaElement.textContent = "";
        if (Object.keys(data).length) {
            for (const key of data) {
                const para = document.createElement("span");
                indexLoop = indexLoop + 1;

                para.innerHTML = `<div id="chidinh${indexLoop}"><span>${key['chidinh']}</span></div>`
                chidinhElement.appendChild(para)

                
                const ketquaAPI = window.location.origin + '/ketqua-api/' + `${key['cls_yeucau_id']}`;
                fetch(ketquaAPI)
                    .then((response) => response.json())
                    .then((data2) => {
  

                        if (Object.keys(data2).length){
                            for (const key of data2) {
                                    const para = document.createElement("span");
                                    para.innerHTML = `<span> <span class="badge text-bg-primary mb-2">BS.${key['bacsi']}</span><br><span class="fst-italic fw-semibold">${key['chidinh']}</span> <br> <span class="fw-semibold">Mô tả: </span> ${key['mota']}; <br><span class="fw-semibold"> Kết luận: </span>: ${key['ketluan']} <hr class='my-2'> </span>`
                                    ketquaElement.appendChild(para)

                            }


                        }
                    });

            }
        }
        else {
            chidinhElement.textContent = "Không";
        }
    };

    function getVisitedHistory(department, doctor, time, chandoantext, khambenh_id, ketquatext, tiepnhanid) {

        const departmentName = document.getElementById('departmentName');
        departmentName.textContent = department + ' - Số tiếp nhận: '+tiepnhanid;

        const doctorNameModal = document.getElementById('doctorNameModal');
        doctorNameModal.textContent = 'BS.' + doctor;

        const timeVisitedModal = document.getElementById('timeVisitedModal');
        timeKham = new Date(time)
        timeVisitedModal.textContent = timeKham.toLocaleDateString('vi-VN');;

        const chanDoan = document.getElementById('chanDoan');
        chanDoan.textContent = chandoantext;

        const ketquadanger = document.getElementById('ketquadanger');
        ketquadanger.textContent = ""
        const ketquawarning = document.getElementById('ketquawarning');
        ketquawarning.textContent = ""
        const ketquasucess = document.getElementById('ketquasucess');
        ketquasucess.textContent = ""
        if (ketquatext == 'Chuyển tuyến' || ketquatext == 'Chuyển viện') {
            ketquadanger.textContent = ketquatext
        }
        else if (ketquatext == 'Nhập viện') {
            ketquawarning.textContent = ketquatext
        }
        else {
            ketquasucess.textContent = ketquatext
        }

        const prescriptionAPI = window.location.origin + '/prescription-api/' + khambenh_id;
        fetch(prescriptionAPI)
            .then((response) => response.json())
            .then((data) => updatePatientModal(data));

        const clsAPI = window.location.origin + '/cls-api/' + tiepnhanid;
        fetch(clsAPI)
            .then((response) => response.json())
            .then((data) => updatePatientModal2(data));


    }
</script>

<script>

function getHospitalHistory(e) {

    department = e.getAttribute('data-department');
    sobenhan = e.getAttribute('data-sobenhan');

    doctor = e.getAttribute('data-doctor'),
    time = e.getAttribute('data-time'),
    time2 = e.getAttribute('data-time2'),
    chandoantext = e.getAttribute('data-chandoan'),
    chandoanravien = e.getAttribute('data-chandoanravien'),
    ketquadieutri = e.getAttribute('data-ketquadieutri'),
    e.getAttribute('data-khambenhid'),
    ketquatext = e.getAttribute('data-ketqua'),
    e.getAttribute('data-tiepnhanid')

    const departmentName = document.getElementById('departmentName2');
    departmentName.textContent = department + ' - Bệnh án: ' + sobenhan;

    const doctorNameModal = document.getElementById('doctorNameModal2');
    doctorNameModal.textContent = 'BS.' + doctor;

    const timeVisitedModal = document.getElementById('timeVisitedModal2');
    const timeVisitedModal2 = document.getElementById('timeVisitedModal22');
    timeKham = new Date(time)
    timeKham2 = new Date(time2)
    timeVisitedModal.textContent = timeKham.toLocaleDateString('vi-VN');;
    timeVisitedModal2.textContent = timeKham2.toLocaleDateString('vi-VN');;

    const chanDoan = document.getElementById('chanDoan2');
    const chanDoan2 = document.getElementById('chanDoanrakhoa2');
    const ketquadieutriE = document.getElementById('ketquadieutri');
    chanDoan.textContent = chandoantext;
    chanDoan2.textContent = chandoanravien;
    ketquadieutriE.textContent = ketquadieutri;

    const ketquadanger = document.getElementById('ketquadanger2');
    ketquadanger.textContent = ""
    const ketquawarning = document.getElementById('ketquawarning2');
    ketquawarning.textContent = ""
    const ketquasucess = document.getElementById('ketquasucess2');
    ketquasucess.textContent = ""
    if (ketquatext == 'Chuyển tuyến' || ketquatext == 'Chuyển viện') {
        ketquadanger.textContent = ketquatext
}
else if (ketquatext == 'Nhập viện') {
    ketquawarning.textContent = ketquatext
}
else {
    ketquasucess.textContent = ketquatext
}

const prescriptionAPI = window.location.origin + '/prescription-api/' + khambenh_id;
fetch(prescriptionAPI)
    .then((response) => response.json())
    .then((data) => updatePatientModal(data));

const clsAPI = window.location.origin + '/cls-api/' + tiepnhanid;
fetch(clsAPI)
    .then((response) => response.json())
    .then((data) => updatePatientModal2(data));


}

</script>
{% endblock %}