
{% block content %}
<div class="p-3 border rounded bg-white shadow-sm table-responsive  ">
  {% if value.department_id %}


    <form action="" method="post">
  <div class="d-flex">

    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Người nạp</label>
      <select class="form-select" id="inputGroupSelect01" required name="staff_name">
        {% if value.staffs %}
        {% for staff in value.staffs %}
        <option value="{{ staff.TenNhanVien }}">{{ staff.TenNhanVien }}</option>
        {% endfor %}
        {% endif %}
      </select>
      <input type="hidden" id="benhan_soluutru" name="soluutru">
      <input type="hidden" name="department_name" value="{{ value.department_name }}">
    <button id="button" type="submit"  class="btn btn-primary" name="update">Xác nhận</button>
    
    </div>
  </div>
  </form>
  {% else %}
  <form action="" method="post">
    <input type="hidden" id="benhan_soluutru" name="soluutru">

    <button id="button" type="submit"  class="btn btn-danger mb-3" name="delete">Xóa</button>

  </form>
  {% endif %}
{% if value.list %}

    <table id="myTable" class="table table-striped bg-white table-sm " style="width:100%">
        <thead>
            <tr>
                {% for title in value.table_column_title %}
                <th>{{ title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in value.list %}
            <tr>
                {% for col in row %}
                {% if loop.index == 2 %}
                {% if not not_patient_btn %}
                <td> <button class="btn btn-sm btn-primary" data-clipboard-text="{{ col }}" data-bs-toggle="modal" data-bs-target="#patientDetailModal" onclick="getPatientDetail(this.textContent)">{{ col }}</button></td>
                {% else %}
                <td>{{ col[0:16] }}</td>
                {% endif %}
                {% else %}
                <td>{{ col }}</td>

                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<!-- patient Modal -->
<!-- Modal -->
<div class="modal fade" id="patientDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-hospital-user me-2"></i>Thông tin bệnh nhân</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3 align-items-center">
          <div class="col-4 fw-bolder ">Họ và tên</div>
          <div class="col-7">
            <span id="namePatient" ></span>
            </div>
            <div class="col-1">
              <button class="btn btn-lg m-0 p-0" data-clipboard-target="#namePatient">
                <i class="fa-regular fa-clipboard"></i>
            </button>
            </div>
        </div>
        <div class="row mb-3">
          <div class="col-4 fw-bolder">Ngày sinh</div>
          <div class="col-8">
            <span id="bornPatient"></span>

          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4 fw-bolder">Địa chỉ</div>
          <div class="col-8  ">
            <span id="addressPatient"></span>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="col-4 fw-bolder">Số điện thoại</div>
          <div class="col-7">
            <span id="phonePatient"></span>
          </div>
          <div class="col-1">
            <button class="btn btn-lg  m-0 p-0" data-clipboard-target="#phonePatient">
              <i class="fa-regular fa-clipboard"></i>
          </button>
          </div>
        </div>
        <hr>
        <div class="row mb-3 align-items-center">
          <div class="col-4 fw-bolder">ID Bệnh nhân</div>
          <div class="col-7">
            <span id="idPatient"></span>
          </div>
          <div class="col-1">
            <button class="btn btn-lg  m-0 p-0" data-clipboard-target="#idPatient">
              <i class="fa-regular fa-clipboard"></i>
          </button>
          </div>
          
        </div>
        <div class="row mb-3 align-items-center">
          <div class="col-4 fw-bolder">Mã y tế</div>
          <div class="col-7">
            <span id="maytePatient"></span>
          </div>
          <div class="col-1">
            <button class="btn btn-lg m-0 p-0" data-clipboard-target="#maytePatient">
              <i class="fa-regular fa-clipboard"></i>
          </button>
          </div>
          
        </div>
        <div class="row mb-3">
          <div class="col-4 fw-bolder">Ngày tạo</div>
          <div class="col-8  ">
            <span id="createTimePatient"></span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4 fw-bolder">Ngày cập nhập</div>
          <div class="col-8  ">
            <span id="updateTimePatient"></span>
          </div>
        </div>
    
       <p class="mt-4 mb-3"> <small class="text-muted"><i class="fa-solid fa-circle-info me-2"></i>click để copy thông tin</small> </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <a href="#"  class="btn btn-primary" id="detailLink">Xem chi tiết<i class="fa-solid fa-arrow-right ms-2"></i></a>
      </div>
    </div>
  </div>
</div>


{% if order_column %}
{% set order = order_column %}
{% else %}
{% set order = 0 %}
{% endif %}
<script>
  let orderColumn = {{ order|tojson }}

  $(document).ready(function () {
    // Create DataTable
    var table = $('#myTable').DataTable({
        dom: 'Bfrtip',
        order: [[orderColumn, 'desc']],
        pagingType: 'full_numbers',
        lengthMenu: [
            [50, -1],
            [50, 'All'],
        ],
        buttons: [
        'searchPanes','copy', 'csv', 'excel', 'pdf', 'print', 
        ],

    });

    $('#myTable tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
        const soluutruE = document.getElementById('benhan_soluutru')
        let text = ""
        const data =  table.rows('.selected').data()
        for(let i=0; i < data.length; i++){
        text += data[i][3] + ';'
       };
       soluutruE.value = text;
    });


    // $('#button').click(function () {
    //   const soluutruE = document.getElementById('benhan_soluutru')
    //   let text = ""
    //   const data =  table.rows('.selected').data()
    //    for(let i=0; i < data.length; i++){
    //     text += data[i][3] + ';'
    //    };
    //    soluutruE.textContent = text;
    // });
    

    });
</script>

<script>
  let table = document.getElementById('myTable');
  table.addEventListener('click', getSum);
  function getSum(){
    sumVal = 0;
  for(let i = 1; i < table.rows.length; i++)
      {
          sumVal = sumVal + parseInt(table.rows[i].cells[3].innerHTML);
      }
  }

</script>


<!-- Copy clipboard -->
<script>
var clipboard = new ClipboardJS('.btn');
</script>

<script>
function updatePatientDetail(data){
  const namePatient = document.getElementById('namePatient')
  const bornPatient = document.getElementById('bornPatient')
  const addressPatient = document.getElementById('addressPatient')
  const phonePatient = document.getElementById('phonePatient')

  const idPatient = document.getElementById('idPatient')
  const maytePatient = document.getElementById('maytePatient')
  const createTimePatient = document.getElementById('createTimePatient')
  const updateTimePatient = document.getElementById('updateTimePatient')

  const detailLink = document.getElementById('detailLink');
  const detailURL = window.location.origin + '/patient/' + data['mayte']
  detailLink.href = detailURL;

  namePatient.textContent = data['name']
  born_date = new Date(data['born_date'])
  bornPatient.textContent = born_date.toLocaleDateString('vi-VN');
  addressPatient.textContent = data['address']
  phonePatient.textContent = data['phone']

  idPatient.textContent = data['patient_id']
  maytePatient.textContent = data['mayte']
  created_date = new Date(data['created_date'])
  createTimePatient.textContent = created_date.toLocaleDateString('vi-VN');
  update_date = new Date(data['update_date'])
  updateTimePatient.textContent = update_date.toLocaleDateString('vi-VN');
}
  function getPatientDetail(e){
    const urlAPI = window.location.origin + '/patient-api/' + e
    fetch(urlAPI)
  .then((response) => response.json())
  .then((data) => updatePatientDetail(data));
  }
</script>

<script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>

<script src="https://cdn.datatables.net/searchpanes/2.1.1/js/dataTables.searchPanes.min.js"></script>
<script src="https://cdn.datatables.net/select/1.6.0/js/dataTables.select.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.2/api/sum().js"></script>


  
{% endblock %}