<div class="table-responsive bg-white pt-3 px-3 border shadow-sm rounded">
    <div class="d-flex justify-content-between align-items-center px-1 mb-2">
    <h6 class="p-0 m-0"><i class="fa-solid fa-bed-pulse me-2"></i>Công suất giường bệnh</h6>
    </div>
    <hr class="mx-1 my-1">
<table class="table table-borderless table-sm bg-white">
    <thead>
      <tr>
        <th scope="col">Khoa</th>
        <th scope="col">Sử dụng</th>
        <th scope="col">Thực kê</th>
        <th scope="col">Công suất</th>
      </tr>
    </thead>
    <tbody>
      {% if value.percent_bed_table %}
        {% for bed in value.percent_bed_table %}
      <tr >
        <th scope="row">{{ bed.title }}</th>
        <td>{{ bed.current }}</td>
        <td>{{ bed.total }}</td>
        <td>
            <div class="d-flex justify-content-between align-items-center">
                {% if bed.status() == 'hot' %}
                <span class="fw-bolder text-danger">{{ bed.percent() }}%</span> <i class="fa-solid fa-fire text-danger fa-fw"></i>
                {% elif bed.status() == 'cool' %}
                <span class="fw-bolder text-success">{{ bed.percent() }}%</span> <i class="fa-solid fa-fan text-success fa-fw"></i>
                {% elif bed.status() =='warm' %}
                <span class="fw-bolder text-warning">{{ bed.percent() }}%</span> <i class="fa-solid fa-mug-hot text-warning fa-fw"></i>
                {% else %}
                <span class="fw-bolder text-muted">{{ bed.percent() }}%</span><i class="fa-solid fa-snowflake text-muted fa-fw"></i>

                {% endif %}
            </div>
        </td>
      </tr>
      {% endfor %}
    {% endif %}

    </tbody>
  </table>
</div>