<!-- chart bệnh nhân nội trú theo khoa -->
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawBenhNhanNoiTru);
  
    function drawBenhNhanNoiTru() {
    const data_chart = {{ value.patient_in_department_chart| tojson }}
  
  
      var data = google.visualization.arrayToDataTable(data_chart);
  
      var options = {
        title: 'Thống kê số bệnh nhân nội trú trong ngày',
        legend: { position: 'none' }
      };
  
      var chart = new google.visualization.PieChart(document.getElementById('chartHospitalizedDepartment'));
  
      chart.draw(data, options);
    }
  
  
    $(window).resize(function () {
      drawBenhNhanNoiTru();
    });
  </script>
  <!-- End chart bệnh nhân nội trú theo khoa -->

  <!-- 30 ngày gần nhất -->

  <script>

    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBackgroundColor);
    
    function drawBackgroundColor() {
         const data_chart = {{ value.last_30_day_chart|tojson }}
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Ngày');
          data.addColumn('number', 'Bệnh nhân nội trú');
    
          data.addRows(data_chart);
    
          var options = {
            title: 'Số bệnh nhân nội trú 30 ngày gần nhất',
    
          };
    
          var chart = new google.visualization.LineChart(document.getElementById('last30daysChart'));
          chart.draw(data, options);
        }
    
          </script>
    <!-- end 30 ngày gần nhất -->



      <!-- 30 ngày gần nhất vào viện -->

  <script>

    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawlast30daysChartInHospital);
    
    function drawlast30daysChartInHospital() {
         const data_chart = {{ value.last_30_day_in_hostpital_chart|tojson }}
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Ngày');
          data.addColumn('number', 'Bệnh nhân nội trú');
    
          data.addRows(data_chart);
    
          var options = {
            title: 'Số bệnh nhân nhập mới mỗi ngày trong 30 ngày gần nhất',
    
          };
    
          var chart = new google.visualization.LineChart(document.getElementById('last30daysChartInHospital'));
          chart.draw(data, options);
        }
    
          </script>
    <!-- end 30 ngày gần nhất vào viện -->


    <script>
      google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(drawBasic);
  
  function drawBasic() {
  
        let data_chart = {{ value.chart_30_days|tojson }}
        data_chart[0] = ['Element', 'Giường bệnh', { role: 'style' }]
      //   data.addRows(data_chart);
  
        var data = google.visualization.arrayToDataTable(data_chart);
  
        var options = {
          title: 'Công suất giường bệnh 30 ngày gần nhất',
    
        };
  
        var chart = new google.visualization.ColumnChart(
          document.getElementById('chart_30_days'));
  
        chart.draw(data, options);
      }
  </script>