{% extends 'base.html' %}
{% block header %}
<i class="fa-solid fa-user me-2"></i>{% block title %}Quản trị{% endblock %}
{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.3.2/tinymce.min.js" integrity="sha512-0hADhKU8eEFSmp3+f9Yh8QmWpr6nTYLpN9Br7k2GTUQOT6reI2kdEOwkOORcaRZ+xW5ZL8W24OpBlsCOCqNaNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="row">
    <div class="col-lg-2">
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-pen-to-square me-2"></i>Bài viết mới
            </button>
    </div>
    <div class="col-lg-6">
      
      {% for post in value.list_post %}
     <h6>{{ post.title }}</h6>
      <p class="text-muted fst-italic">Đăng bởi {{post.username}} lúc {{ post.time_created}}</p>

        {{ post.body|safe }}
        <form method="post">
          <input type="hidden" value="{{post.post_id}}" name="post_id">
          <button type="submit" class="btn btn-danger" name="delete_post">Xóa</button>

        </form>

        {% if not loop.last %}
        <hr>
        {% endif %}
      {% endfor %}
    </div>

    </div>
  
</div>

  <!-- Modal -->
  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Bài viết mới</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form method="post" >
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Tên bài viết</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"  name="titlePost" required>
          </div>
            <textarea id="default-editor" name="bodyPost" required>
              </textarea>
        </div>
        <input type="hidden" id="plainTextPost" name="plain_text_input">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="reset" class="btn btn-primary">Xóa hết</button>
          <button type="submit" class="btn btn-primary" name="new_post" id="savePostBtn">Lưa bài viết</button>
        </div>
      </form>
      </div>
    </div>
  </div>


<script>
    tinymce.init({
  selector: 'textarea',
  setup: function(editor) {
    editor.on('input', function(e) {
      let plainText = tinyMCE.activeEditor.getBody().textContent;
      let input_PlainText = document.getElementById('plainTextPost');
      input_PlainText.value = plainText;
    });
  },
  plugins: 'image media link save',
  image_class_list: [
    {title: 'Tự động chiều ngang', value: 'img-fluid border rounded shadow-sm m-1'},
]
  
});

function updateTextContent(){
  


}



</script>

<script>
  // Prevent Bootstrap dialog from blocking focusin
  document.addEventListener('focusin', (e) => {
         if (e.target.closest(".tox-tinymce-aux, .moxman-window, .tam-assetmanager-root") !== null) {
         e.stopImmediatePropagation();
   }});
</script>
<script>
  const urlGenerator = '/news/';
  const todayURL = "{{ url_for('news') }}";

</script>

{% endblock %}

