{% extends 'base.html' %}
{% block header %}
<i class="fa-solid fa-user me-2"></i>{% block title %}Quản trị{% endblock %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <div class="bg-white rounded border shadow-sm p-4 d-flex flex-column">

          <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ 'Toàn cơ quan' if not value.department_name else value.department_name }}
              
            </a>
 
          {% if value.list_department %}
            <ul class="dropdown-menu">
              {% for department in value.list_department %}
              <li><a class="dropdown-item" href="{{ url_for('medical_record', department_id=department.1)}}">{{department.0}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <a class="btn btn-outline-primary mt-3 " href="{{ url_for('medical_record')}}">
            Bệnh án đã nộp
         </a>


    </div>
  </div>

  <div class="col-lg-8">

    {% include 'include/table_medical_record.html' %}

  </div>


</div>

<script>
  function getStaff(){
    console.log('You selected: ', this.value);
    console.log('You name: ', this.options[this.selectedIndex].text);
  }
  const departmentSelect = document.getElementById("departmentSelect");
  departmentSelect.addEventListener('change', getStaff)
</script>

{% endblock %}

