{% extends 'base.html' %}
{% block header %}
<i class="fa-solid fa-user me-2"></i>{% block title %}Quản trị{% endblock %}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <div class="bg-white rounded border shadow-sm p-4 d-flex flex-column">

          <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect01">Khoa</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Chọn khoa</option>
              <option value="1">Khoa Hồi sức cấp cứu</option>
              <option value="2">Khoa Ngoại tổng hợp</option>
              <option value="3">Khoa Nội tổng hơp</option>
              <option value="4">Khoa Phụ Sản</option>
              <option value="5">Khoa Y học cổ truyền</option>
              <option value="6">Liên chuyên khoa TMH-RHM-Mắt</option>
          </div>

          <div>
            <p>sdf</p>
          </div>
          <h1> hieu</h1>


    </div>
  </div>


</div>

{% endblock %}

