{% extends 'base.html' %}
{% block header %}
<i class="fa-solid fa-file-invoice me-2"></i>{% block title %}Doanh thu{% endblock %}
{% endblock %}
{% block content %}
{% include 'chart/revenue.html' %}
    <div class="row">
        <div class="col-lg-6">
            <div class="row g-2">
                <!-- Doanh thu -->
                <div class="col-lg-6">
                    <div class="card shadow-sm h-100 text-bg-warning">
                        <div class="row g-0">
                            <div class="card-body">
                                <h6 class="card-subtitle d-flex justify-content-between">
                                    <span>
                                        <i class="fa-solid fa-money-bill me-2"></i>{{
                                        value.money_card_top[0] }}
                                    </span>
                                </h6>
                                <hr class="my-2">
                                <h3 class="card-title">{{ "{:,} đ".format(value.money_card_top[1]) }} </h3>
                                <p class="text-muted card-text">
                                    <span>
                                        {% if value.money_card_top[2][0]%}
                                        <i class="fa-solid fa-arrow-trend-up me-1 fw-bold text-success"></i>
                                        {% else %}
                                        <i class="fa-solid fa-arrow-trend-down me-1 fw-bold text-danger"></i>
                                        {% endif %}
                                        {{ value.money_card_top[2][1] }}%</span>
                                    <span>hôm trước</span>
                                </p>
                                <hr>
                                {% for title, money in value.money_card_body %}
                                <div class="card-text d-flex justify-content-between">
                                    <span>{{ title }}</span>
                                    <span class="fw-bold">{{ "{:,} đ".format(money) }}</span>
                                </div>
                                {% endfor %}
                                <hr class="mt-2">
                                <div id="chart1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Doanh thu -->
                <div class="col-lg-6 ">
                    <!-- Số lượt xác nhận -->
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h6 class="card-subtitle"><i class="fa-solid fa-clipboard-check me-2 fa-fw"></i>Hoàn tất
                                thanh toán</h6>
                            <hr class="my-2">
                            <div class="row g-0">
                                <div class="col-6 text-center border-end">
                                    <h3 class="card-title">{{ value.confirmed_visited }}</h3>
                                    <p class="text-muted card-text">Ngoại trú</p>
                                </div>
                                <div class="col-6 text-center">
                                    <h3 class="card-title">{{ value.confirmed_hospital}}</h3>
                                    <p class="text-muted card-text">Nội trú</p>
                                </div>
                            </div>
                            <hr>
                            {% for title, number in value.visited_card_body %}
                            <div class="card-text d-flex justify-content-between">
                                <span>{{ title }}</span>
                                {% if loop.first %}
                                <span class="fw-bold">{{ number }}</span>
                                {% else %}
                                <span class="fw-bold">{{ "{:,} đ".format(number) }}</span>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <hr class="mt-2">
                            <div id="chart3"></div>
                        </div>
                    </div>
                    <!-- End Số lượt xác nhận -->
                </div>
            </div>
            <div class="row mt-1 g-2">
                <!-- Doanh thu thống kê theo tuần, tháng, năm -->
                {% for icon, title, subtitle, money, progressbar_title, progressbar_value, last_money in
                value.bellow_card %}
                <div class="col-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2"><i class="{{ icon }} me-2 fa-fw"></i>{{ title }}
                                </h6>
                                <p class="card-text text-muted fst-italic m-0">
                                    <small>{{ subtitle }}</small>
                                </p>
                                <hr class="my-2">{% for title_money, number in value.bellow_card_money_title|zip(money)
                                %}
                                <div class="card-text d-flex justify-content-between">
                                    <span> {{ title_money }}</span>
                                    <span class="fw-bold">{{"{:,} đ".format(number) }}</span>
                                </div>
                                {% endfor %}
                                <hr class="my-2">

                                <p class="mb-2 align-items-between justify-content-between d-flex">
                                    <small>{{progressbar_title}}</small>
                                    <small class=" fw-bold ">{{"{:,} đ".format(last_money) }}</small>
                                </p>

                                <div class="progress" role="progressbar" aria-label="Animated striped example"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar
                                {% if progressbar_value[0] == False %}
                                 bg-danger
                                 {% else %}
                                 bg-success
                                 {% endif %}
                                 " style="width: {{progressbar_value[1]}}%">{{progressbar_value[1]}}%</div>
                                </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-12">
                    <div class="d-flex justify-content-end">
                        <a href="{{ url_for('revenue_detail', day_query=value.today) }}" class="text-decoration-none">Xem chi tiết thống kê<i
                                class="fa-solid fa-up-right-from-square ms-2"></i></a>
                    </div>
                </div>
                <!-- End Doanh thu thống kê theo tuần, tháng, năm -->
                <!-- Doanh thu theo từng khoa, phòng khám -->
                <div class="col-lg-12">
                    <div class="card shadow-sm mt-2">
                        <div class="card-header text-bg-warning">
                            <h6 class="m-0">Doanh thu khoa phòng</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for department in value.money_department %}
                            <a href="$"
                                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center ">
                                {{ department[0] }}
                                <span class="fw-bold">{{"{:,} đ".format(department[1]) }}</span>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- End Doanh thu theo từng khoa, phòng khám -->
            </div>
        </div>
        <div class="col-lg-6">
            {% include 'revenue/last5_table.html' %}
            <!-- Biểu đồ 30 lượt khám -->
            <div class="card mb-2 shadow-sm p-1 mt-2">
                <div id="chart2"></div>
            </div>
            <!-- End Biểu đồ 30 lượt khám -->

            <div class="card mb-2 shadow-sm p-1">
                <div id="chart4" style="min-height: 400px;"></div>
            </div>
            {% include 'table/top10_doanhthu.html' %}
        </div>
    </div>


<script>
    const urlGenerator = '/revenue/';
    const todayURL = "{{ url_for('revenue') }}"
</script>
{% endblock %}